name: Run Integration Tests

on:
  push:
    paths-ignore:
      - ./*.md
      - LICENSE
      - .circleci/*
      - .gitlab-ci.yml
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:
    inputs:
      runner-os:
        default: ubuntu-latest
        type: choice
        options:
          - ubuntu-latest
          - macos-latest

jobs:
  run-it-tests-job:
    runs-on: ${{ inputs.runner-os || 'ubuntu-latest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Docker setup (macos only)
        if: ${{ runner.os == 'macOS' }}
        run: |
          brew install docker
          colima start

      - name: Set up Project
        run: pip install -r requirements-dev.txt

      - name: Start LocalStack
        uses: LocalStack/setup-localstack@v0.2.3
        with:
          image-tag: 'latest'
          install-awslocal: 'true'
          skip-startup: 'true'
        env:
          LOCALSTACK_API_KEY: ${{ secrets.LOCALSTACK_API_KEY }}

      - name: Add LocalStack CLI to PATH
        run: echo "::add-path::${HOME}/.local/bin"

      - name: Install jq
        run: sudo apt-get install jq -y

      - name: Start LocalStack and Dependencies
        env:
          LOCALSTACK_AUTH_TOKEN: ${{ secrets.LOCALSTACK_API_KEY }}
        run: |
          echo "Starting LocalStack and setting up the environment..."

          # Create Docker network if not already exists
          docker network create localstack_network || echo "Network already exists"

          # Start InfluxDB container
          docker run -d --network localstack_network --name influxdb \
            -e DOCKER_INFLUXDB_INIT_USERNAME=admin \
            -e DOCKER_INFLUXDB_INIT_PASSWORD=adminpassword \
            -e DOCKER_INFLUXDB_INIT_ORG=myorg \
            -e DOCKER_INFLUXDB_INIT_BUCKET=mydb \
            -e DOCKER_INFLUXDB_INIT_MODE=setup \
            -e DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-auth-token \
            -p 8086:8086 \
            influxdb:2

          localstack start --network localstack_network -d

          # Start Grafana container
          docker run -d --network localstack_network --name grafana \
            -e GF_SECURITY_ADMIN_PASSWORD=admin \
            -p 3000:3000 \
            grafana/grafana:main

          # Wait for services to initialise
          echo "Waiting for services to start..."
          sleep 15

          # Configure Grafana with the InfluxDB data source
          curl -X POST "http://localhost:3000/api/datasources" \
            -H "Authorization: Basic YWRtaW46YWRtaW4=" \
            -H "Content-Type: application/json" \
            --data-binary @exported_datasources/influxdb_datasource.json

          # Add a Grafana dashboard
          cat deployment/grafana/dashboard.json | jq '. * {overwrite: true, dashboard: {id: null, title: "My Dashboard Title"}}' | \
            curl -X POST "http://localhost:3000/api/dashboards/db" \
            -H "Authorization: Basic YWRtaW46YWRtaW4=" \
            -H "Content-Type: application/json" \
            -d @-

      - name: Build Lambdas
        run: bin/build_lambdas.sh

      - name: Deploy Infrastructure
        run: deployment/awslocal/deploy.sh

      - name: Run Tests
        env:
          AWS_DEFAULT_REGION: us-east-1
          AWS_REGION: us-east-1
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
        run: pytest tests

      - name: Show LocalStack Logs
        if: always()
        run: localstack logs

      - name: Generate Diagnostic Report
        if: failure()
        run: curl -s localhost:4566/_localstack/diagnose | gzip -cf > diagnose.json.gz

      - name: Upload the Diagnostic Report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: diagnose.json.gz
          path: ./diagnose.json.gz
